<div class="faceScannerWrapper" [ngClass]="type" #wrapper>
	<webcam
		[width]="videoDims.width"
		[height]="videoDims.height"
		[allowCameraSwitch]="false"
		[videoOptions]="videoOptions"
		[switchCamera]="nextWebcam$"
		[trigger]="trigger$"
		(initError)="readError($event)"
		(imageCapture)="handleImage($event)"
	></webcam>
	<div *ngIf="faceImage && !hasExternalTrigger" class="preview">
		<img class="preview__img" [src]="previewUrl" />
		<div class="form__buttons-row buttons">
			<button class="btn secondary" (click)="clearPhoto()">Take new</button>
			<button class="btn primary" (click)="submitPhoto()">Submit</button>
		</div>
	</div>
	<div class="switchButton">
		<button *ngIf="!faceImage || hasExternalTrigger" class="btn secondary rounded" (click)="switchCamera()">
			<i class="rotate" style="background-color: black"></i>
		</button>
		<button *ngIf="faceImage && !hasExternalTrigger" class="btn secondary rounded" (click)="closeWebcam()">
			<i class="close-2" style="background-color: black"></i>
		</button>
	</div>
	<div class="form__buttons-row buttons" *ngIf="!faceImage && !hasExternalTrigger">
		<button class="btn secondary" (click)="closeWebcam()">Cancel</button>

		<button class="btn primary" (click)="capturePhoto()">Capture</button>
	</div>
</div>
