@use '../../../../assets/styles/colors';
@use '../../../../assets/styles/general';

.button {
	font-weight: bold;
	box-shadow: general.$shadow-25;
	border-radius: 6px;
}

.normal {
	font-size: 20px;
}

.small {
	font-size: 16px;
}

.primary {
	color: colors.$accent;
}
