@use '../general';
@use '../colors';

label {
	color: colors.$black;
	font-size: 14px;
	line-height: 24px;
}

input[type='text'],
input[type='password'],
textarea {
	appearance: none;
	outline: none;
	border: 1px solid colors.$neutral-500;
	border-radius: 10px;
	padding: 10px 12px;
	font-size: 16px;
	line-height: 28px;
	font-family: 'Manrope', sans-serif;
	transition: border 0.2s ease-in-out, outline 0.1s ease-in-out;
	flex-grow: 1;

	&::placeholder {
		color: colors.$neutral-700;
	}
}

input[type='text'],
input[type='password'],
textarea {
	&.ng-invalid.ng-touched:not(:focus-within) {
		border: 1px solid colors.$error-300;
	}

	&.ng-valid.ng-touched:not(:focus-within) {
		border: 1px solid colors.$success-300;
	}

	&.ng-pending.ng-touched:not(:focus-within) {
		border: 1px solid blue;
		outline: 2px solid red;
	}

	&:focus-within {
		// border: 1px solid colors.$neutral-700;
		border: 1px solid colors.$primary-500;
		outline: 4px solid colors.$primary-300;
	}
}

// 	// width: 100%;
// 	font-size: 16px;
// 	// box-shadow: general.$shadow-05;
// 	// border: 2px solid colors.$pale-gray;
// 	border-radius: 6px;
// 	padding: 0.5rem 1rem;

// 	outline: none;
// 	appearance: none;
// 	transition: border 0.2s ease-in-out;

// 	&::placeholder {
// 		// color: colors.$pale-gray;
// 		font-weight: 400;
// 	}
// }

label {
	user-select: none;
	cursor: pointer;
}

// input[type='checkbox'] {
// 	cursor: pointer;
// 	position: relative;
// 	transition: 0.2s ease-in-out;
// 	width: 24px;
// 	height: 24px;
// 	flex-shrink: 0;
// 	border-radius: 6px;
// 	// border: 2px solid colors.$pale-gray;
// 	// background-color: colors.$white;
// 	// box-shadow: general.$shadow-05;
// 	outline: none;
// 	appearance: none;

// 	&:checked {
// 		// background-color: colors.$accent;
// 		// border: 2px solid colors.$accent;
// 	}

// 	&:checked::after {
// 		font-family: 'FontAwesome';
// 		content: '\f00c';
// 		color: #fff;
// 		font-size: 20px;
// 	}
// }

textarea {
	resize: vertical;
}
