@use '../general';
@use '../colors';

label {
	color: colors.$black;
	user-select: none;
	cursor: pointer;
	font-size: 14px;
	line-height: 24px;
}

input[type='text'],
input[type='password'],
textarea {
	appearance: none;
	outline: none;
	border: 1px solid colors.$neutral-500;
	border-radius: 10px;
	padding: 10px 12px;
	font-size: 16px;
	line-height: 28px;
	font-family: 'Manrope', sans-serif;
	transition: border 0.2s ease-in-out, outline 0.1s ease-in-out;
	flex-grow: 1;

	&::placeholder {
		color: colors.$neutral-700;
	}
}

input[type='text'],
input[type='password'],
textarea {
	&.ng-invalid.ng-touched:not(:focus-within) {
		border: 1px solid colors.$error-300;
	}

	&.ng-valid.ng-touched:not(:focus-within) {
		border: 1px solid colors.$success-300;
	}

	&.ng-pending.ng-touched:not(:focus-within) {
		border: 1px solid colors.$neutral-700;
	}

	&:focus-within {
		border: 1px solid colors.$primary-500;
		outline: 4px solid colors.$primary-300;
	}
}

textarea {
	resize: vertical;
}
