.form {
	&__control {
		display: flex;
		gap: 8px;
		flex-direction: column;
		margin: 8px 0;
	}
	&__container {
		display: flex;

		flex-direction: column;
		gap: 8px;
	}

	&__buttons {
		display: flex;
		flex-direction: row;
		gap: 18px;
		align-items: center;

		button {
			flex-grow: 1;
		}
	}
}

form {
	display: flex;
	flex-direction: column;
	gap: 8px;
	margin: 16px 0;
}
