<h2 class="bold">Login</h2>
<form [formGroup]="registerForm">
	<ktbz-control label="Username" type="text" [control]="registerForm.controls.username"></ktbz-control>
	<ktbz-control label="E-mail" type="text" [control]="registerForm.controls.email"></ktbz-control>
	<ktbz-control label="Password" type="password" [control]="registerForm.controls.password"></ktbz-control>
	<ktbz-control label="First name" type="text" [control]="registerForm.controls.firstName"></ktbz-control>
	<ktbz-control label="Last name" type="text" [control]="registerForm.controls.lastName"></ktbz-control>
	<ktbz-control
		label="I want to use my face as authentication method"
		type="checkbox"
		[control]="registerForm.controls.useFace"
	></ktbz-control>
	<button *ngIf="useFace" class="btn accent" (click)="toggleScan(true)">
		Scan my face
		<span class="material-symbols-outlined">sensor_occupied</span>
	</button>

	<div class="form__buttons">
		<button (click)="close()" class="btn error-outlined">Cancel</button>
		<button [disabled]="!registerForm.valid" (click)="submit()" class="btn primary">Register</button>
	</div>
</form>
<div class="scannerWrapper" *ngIf="scanEnabled">
	<ktbz-webcam (onImageSave)="saveImage($event)" (onClose)="toggleScan(false)"></ktbz-webcam>
</div>
