<h2 class="bold">Register</h2>
<ktbz-alert *ngIf="error$ | async as error" (onDismiss)="clearError()" type="error">
	<span class="bold highlighted--white">{{ error.message }}</span>
</ktbz-alert>
<ktbz-alert *ngIf="success$ | async as success" type="success" [dismissable]="false">
	<span class="bold highlighted--white">Registered with success</span>
</ktbz-alert>
<ktbz-alert *ngIf="warning$ | async as warning" type="warning" [dismissable]="false">
	<div>
		<span class="bold highlighted--white">
			We couldnt process given image. Make sure that your surrounding lightning is correct, and your face is places inside rectangle.
		</span>
		<span class="bold highlighted--white">Do you want to take new picture now?</span>
		<div class="buttonsWrapper">
			<button class="btn-sm primary" (click)="toggleScan(true, true)">Yes</button>
			<button class="btn-sm white" (click)="clearWarning()">Remind me later</button>
		</div>
	</div>
</ktbz-alert>
<form [formGroup]="registerForm">
	<ktbz-control label="Username" type="text" [control]="getControl('username')"></ktbz-control>
	<ktbz-control label="E-mail" type="text" [control]="getControl('email')"></ktbz-control>
	<ktbz-control label="Password" type="password" [control]="getControl('password')"></ktbz-control>
	<ktbz-control label="First name" type="text" [control]="getControl('firstName')"></ktbz-control>
	<ktbz-control label="Last name" type="text" [control]="getControl('lastName')"></ktbz-control>
	<ktbz-control
		label="I want to use my face as authentication method"
		type="checkbox"
		[control]="getControl('useFaceAsAuthMethod')"
	></ktbz-control>
	<button *ngIf="useFace" class="btn accent" (click)="toggleScan(true)">
		Scan my face
		<span class="material-symbols-outlined">sensor_occupied</span>
	</button>

	<div class="form__buttons">
		<button (click)="close()" class="btn error-outlined">Cancel</button>
		<button [disabled]="disabled" (click)="submit()" class="btn primary">Register</button>
	</div>
</form>
<div class="scannerWrapper" *ngIf="scanEnabled">
	<ktbz-webcam (onImageSave)="saveImage($event)" (onClose)="toggleScan(false)"></ktbz-webcam>
</div>
