@use '../../../assets/styles/general';

@media only screen and (max-width: general.$bp-sm) {
	.col {
		width: 90vw;
	}
}

@media only screen and (min-width: general.$bp-sm) {
	.col {
		width: 80vw;
	}
}

@media only screen and (min-width: general.$bp-md) {
	.col {
		width: max(60vw, 600px);
	}
}

@media only screen and (min-width: general.$bp-lg) {
	.col {
		width: min(60vw, 800px);
	}
}

.bg-img {
	background-image: url('../../../assets/img/bg-full.jpg');
	background-position: center;
	background-size: cover;
}

.flex {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.col {
	gap: 8px;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	ktbz-register-form {
		width: 100%;
	}

	ktbz-login-wrapper {
		width: min(100%, 600px);
	}
}

.dummyVideo {
	background-image: url('../../../assets/img/bg-2.png');
	height: 500px;
	background-position: center;
	background-size: cover;
}

.sp {
	height: 16px;
}
