@use '../general';

@media only screen and (max-width: general.$bp-sm) {
	i {
		width: 16px;
		height: 16px;
	}
}

@media only screen and (min-width: general.$bp-sm) {
	i {
		width: 20px;
		height: 20px;
	}
}

@media only screen and (min-width: general.$bp-md) {
	i {
		width: 24px;
		height: 24px;
	}
}

i {
	&.faceSmile {
		mask-image: url('../../icons/face-smile.svg');
		mask-position: center;
		mask-repeat: no-repeat;
		background-color: white;
	}

	&.eye {
		mask-image: url('../../icons/eye.svg');
		mask-position: center;
		mask-repeat: no-repeat;
		background-color: black;
	}

	&.eyeSlash {
		mask-image: url('../../icons/eye-slash.svg');
		mask-position: center;
		mask-repeat: no-repeat;
		background-color: black;
	}

	&.check {
		mask-image: url('../../icons/check.svg');
		mask-position: center;
		mask-repeat: no-repeat;
		background-color: white;
	}

	&.success {
		mask-image: url('../../icons/success.svg');
		mask-position: center;
		mask-repeat: no-repeat;
		display: block;

		background-color: white;
	}

	&.error {
		mask-image: url('../../icons/error.svg');
		mask-position: center;
		mask-repeat: no-repeat;
		display: block;

		background-color: white;
	}

	&.info {
		mask-image: url('../../icons/info.svg');
		display: block;

		mask-position: center;
		mask-repeat: no-repeat;
		background-color: white;
	}

	&.warning {
		mask-image: url('../../icons/warning.svg');
		display: block;
		mask-position: center;
		mask-repeat: no-repeat;
		background-color: white;
	}

	&.close {
		mask-image: url('../../icons/close.svg');
		display: block;
		mask-position: center;
		mask-repeat: no-repeat;
		background-color: white;
	}

	&.close-2 {
		mask-image: url('../../icons/close-2.svg');
		display: block;
		mask-position: center;
		mask-repeat: no-repeat;
		background-color: white;
	}

	&.chevron-up {
		mask-image: url('../../icons/chevron-up.svg');
		display: block;

		mask-position: center;
		mask-repeat: no-repeat;
		background-color: black;
	}

	&.chevron-down {
		mask-image: url('../../icons/chevron-down.svg');
		display: block;

		mask-position: center;
		mask-repeat: no-repeat;
		background-color: black;
	}

	&.camera {
		mask-image: url('../../icons/camera.svg');
		display: block;
		mask-position: center;
		mask-repeat: no-repeat;
		background-color: white;
	}

	&.rotate {
		mask-image: url('../../icons/rotate.svg');
		display: block;
		mask-position: center;
		mask-repeat: no-repeat;
		background-color: white;
	}
}
