@use '../colors';
@use '../general';

@media only screen and (max-width: general.$bp-sm) {
	h1 {
		font-size: 40px;
		line-height: 52px;
		letter-spacing: 3%;
		margin-block: 0 20px;
	}

	h2 {
		font-size: 32px;
		line-height: 44px;
		letter-spacing: 1%;
		margin-block: 0 16px;
	}

	h3 {
		font-size: 26px;
		line-height: 36px;
		margin-block: 0 13px;
	}

	h4 {
		font-size: 20px;
		line-height: 32px;
		margin-block: 0 10px;
	}

	h5 {
		font-size: 16px;
		line-height: 20px;
		margin-block: 0 8px;
	}

	h6 {
		font-size: 11px;
		line-height: 16px;
		margin-block: 0 6px;
	}

	.large {
		font-size: 14px;
		line-height: 24px;
	}

	.medium {
		font-size: 11px;
		line-height: 16px;
	}

	.small {
		font-size: 9px;
		line-height: 12px;
	}

	.xsmall {
		font-size: 7px;
		line-height: 10px;
	}
}

@media only screen and (min-width: general.$bp-sm) {
	h1 {
		font-size: 48px;
		line-height: 60px;
		letter-spacing: 5%;
		margin-block: 0 24px;
	}

	h2 {
		font-size: 40px;
		line-height: 52px;
		letter-spacing: 3%;
		margin-block: 0 20px;
	}

	h3 {
		font-size: 32px;
		line-height: 44px;
		letter-spacing: 1%;
		margin-block: 0 16px;
	}

	h4 {
		font-size: 26px;
		line-height: 36px;
		margin-block: 0 13px;
	}

	h5 {
		font-size: 20px;
		line-height: 32px;
		margin-block: 0 10px;
	}

	h6 {
		font-size: 16px;
		line-height: 20px;
		margin-block: 0 8px;
	}

	.large {
		font-size: 18px;
		line-height: 32px;
	}

	.medium {
		font-size: 16px;
		line-height: 28px;
	}

	.small {
		font-size: 14px;
		line-height: 24px;
	}

	.xsmall {
		font-size: 11px;
		line-height: 16px;
	}
}

@media only screen and (min-width: general.$bp-md) {
}

@media only screen and (min-width: general.$bp-lg) {
}

.highlighted {
	&--error {
		color: colors.$error-300;
	}

	&--black {
		color: colors.$black;
	}
}

.regular {
	font-weight: 400;
}
.medium {
	font-weight: 500;
}
.semibold {
	font-weight: 600;
}
.bold {
	font-weight: 700;
}

.italic {
	font-style: italic;
}

span,
p,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
	color: colors.$white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	// margin: 0;
	font-weight: 600;
}
