<div class="webcamWrapper">
	<div class="webcamWrapper__capture" *ngIf="!image">
		<span class="material-symbols-outlined switchIcon" (click)="switchCamera()">cameraswitch</span>
		<div class="webcamMask"></div>
		<div class="webcamItems">
			<button class="btn accent" (click)="capture()">Capture photo</button>
		</div>
		<webcam
			[height]="720"
			[width]="1280"
			[allowCameraSwitch]="false"
			[switchCamera]="nextWebcam$"
			[trigger]="trigger$"
			(imageCapture)="handleImage($event)"
		></webcam>
	</div>
	<div class="webcamWrapper__preview" *ngIf="image">
		<img [src]="image.imageAsDataUrl" />
		<div class="buttons">
			<div class="webcamItems">
				<button class="btn accent" (click)="takeNew()">Take new photo</button>
			</div>
			<div class="webcamItems">
				<button class="btn success" (click)="saveImage()">Looks good to me</button>
			</div>
		</div>
	</div>
</div>
