.faceScannerWrapper {
	width: 100%;
	height: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;

	.switchButton {
		position: absolute;
		top: 20px;
		right: 20px;
		z-index: 3;
	}

	.buttons {
		width: calc(100% - 40px);
		display: flex;
		flex-direction: row;
		padding: 20px;
		z-index: 3;
		gap: 16px;
		position: relative;
	}

	.preview {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: center;
		position: absolute;
		width: 100%;
		height: 100%;

		&__img {
			position: absolute;
			z-index: 2;
			object-fit: cover;
			border-radius: 16px;
			width: 100%;
			height: 100%;
		}
	}

	.dummyWebcam {
		position: absolute;
		top: 0;
		left: 0;
		background-color: hsla(0, 100%, 50%, 1);
		background-image: radial-gradient(at 51% 43%, hsla(345, 65%, 52%, 1) 0px, transparent 50%),
			radial-gradient(at 5% 21%, hsla(240, 86%, 25%, 1) 0px, transparent 50%),
			radial-gradient(at 75% 15%, hsla(265, 65%, 66%, 1) 0px, transparent 50%),
			radial-gradient(at 80% 50%, hsla(345, 65%, 52%, 1) 0px, transparent 50%),
			radial-gradient(at 0% 100%, hsla(265, 65%, 66%, 1) 0px, transparent 50%),
			radial-gradient(at 80% 100%, hsla(240, 86%, 25%, 1) 0px, transparent 50%),
			radial-gradient(at 21% 13%, hsla(345, 65%, 52%, 1) 0px, transparent 50%);
		background-size: cover;
		height: 100%;
		border-radius: 16px;
		width: 100%;
		z-index: -1;
	}

	webcam {
		position: absolute;
		z-index: -1;
		line-height: 0;
	}
}
