<div class="faceScannerWrapper" #wrapper>
	<webcam
		[width]="videoDims.width"
		[height]="videoDims.height"
		[allowCameraSwitch]="false"
		[videoOptions]="videoOptions"
		[switchCamera]="nextWebcam$"
		[trigger]="trigger$"
		(imageCapture)="handleImage($event)"
	></webcam>
	<div *ngIf="faceImage" class="preview">
		<img class="preview__img" [src]="previewUrl" />
		<div class="buttons">
			<button class="btn tertiary" (click)="clearPhoto()">Take new</button>
			<button class="btn primary" (click)="submitPhoto()">Submit</button>
		</div>
	</div>
	<div class="switchButton">
		<button *ngIf="!faceImage" class="btn tertiary rounded" (click)="switchCamera()">
			<i class="rotate" style="background-color: black"></i>
		</button>
		<button *ngIf="faceImage" class="btn tertiary rounded" (click)="closeWebcam()">
			<i class="close-2" style="background-color: black"></i>
		</button>
	</div>
	<div class="buttons" *ngIf="!faceImage">
		<button class="btn tertiary" (click)="closeWebcam()">Cancel</button>

		<button class="btn primary" (click)="capturePhoto()">Capture</button>
	</div>
</div>
