.full {
}

.header-row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	// gap: 24px;
}

.col-7 {
	flex-grow: 7;
	margin: 20px;
	height: 100%;
}

.col-3 {
	flex-grow: 3;
	height: 100%;

	margin: 20px;
}

.col-10 {
	width: 100%;
	flex-grow: 100;

	margin: 20px;
}
