@use '../../../../../assets/styles/colors';

.webcamWrapper {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	background-color: colors.$trans-black-70;
	width: 100%;
	z-index: 10;
	height: 100%;
	border-radius: 16px;
	ktbz-face-scanner {
		width: 100%;
	}
}

.spacer {
	height: 20px;
}

.registerWrapper {
	position: relative;
}

.alertsWrapper {
	display: flex;
	flex-direction: column;
}
