<div class="registerWrapper">
	<ktbz-spinner *ngIf="inProgress$ | async" [type]="'fluid'"></ktbz-spinner>
	<ng-container *ngIf="faceScanActive">
		<div class="webcamWrapper">
			<ktbz-face-scanner (onPhotoSubmit)="processPhoto($event)" (onWebcamClose)="toggleScanner()"></ktbz-face-scanner>
		</div>
	</ng-container>

	<ktbz-box>
		<h2>Create new Account</h2>
		<form [formGroup]="registerForm" class="form__container">
			<div class="alertsWrapper">
				<ktbz-alert *ngIf="registerSuccess$ | async as success" type="success" [dismissable]="false">{{ success }}</ktbz-alert>
				<ktbz-alert *ngIf="fileUploadSuccess$ | async as success" type="success" [dismissable]="false">{{ success }}</ktbz-alert>

				<ktbz-alert *ngIf="error$ | async as error" type="error" [dismissable]="false">
					<div *ngFor="let line of error.split('\n')">{{ line }}</div>
				</ktbz-alert>
				<ktbz-alert *ngIf="warning$ | async as warning" type="warning" [dismissable]="false">
					<div>{{ warning }}</div>
					<div>Do you want to try again?</div>
					<div class="form__buttons-row">
						<button class="btn-sm tertiary" (click)="switchToLoginForm()">Remind me later</button>
						<button class="btn-sm secondary" (click)="retryFaceImageCapture()">Yes</button>
					</div>
				</ktbz-alert>
			</div>

			<!-- <div class="form__controls-row"> -->
			<ktbz-control [label]="'Username'" [control]="getControl('username')"></ktbz-control>
			<ktbz-control [label]="'E-mail'" [control]="getControl('email')"></ktbz-control>
			<!-- </div> -->
			<!-- <div class="form__controls-row"> -->
			<ktbz-control [label]="'First name'" [control]="getControl('firstName')"></ktbz-control>
			<ktbz-control [label]="'Last name'" [control]="getControl('lastName')"></ktbz-control>
			<!-- </div> -->
			<!-- <div class="form__controls-row"> -->
			<ktbz-control [label]="'Password'" [type]="'password'" [control]="getControl('password')"></ktbz-control>
			<ktbz-control [label]="'Confirm password'" [type]="'password'" [control]="getControl('confirmPassword')"></ktbz-control>
			<!-- </div> -->

			<ktbz-checkbox
				[label]="'I want to use my face as auth method'"
				[type]="'switch'"
				[control]="getControl('useFaceAsAuthMethod')"
			></ktbz-checkbox>

			<div class="form__buttons-col">
				<button *ngIf="getControl('useFaceAsAuthMethod').value" (click)="toggleScanner()" class="btn tertiary">Scan my face</button>
				<div class="form__buttons-row">
					<button class="btn secondary" (click)="switchToLoginForm()">Back</button>
					<button class="btn primary" [disabled]="!registerForm.valid" (click)="submitForm()">Create</button>
				</div>
			</div>
		</form>
	</ktbz-box>
</div>
