@use '../../../../assets/styles/general';
@use '../../../../assets/styles/colors';

@media screen and (max-width: general.$bp-sm) {
  .box {
	  padding: 20px;

  }
}

@media screen and (max-width: general.$bp-lg) {
  .box {
    padding: 32px;
  }
}

@media screen and (min-width: general.$bp-lg) {
  .box {
    padding: 72px;
  }
}

.box {
	border-radius: 16px;
	box-shadow: 0 4px 8px rgba($color: #000000, $alpha: 0.08);
}

.box-outlined {
	padding: 26px;
	border-radius: 16px;
	border: 1px solid colors.$neutral-500;
}
