@use '/src/assets/styles/colors';
@use '/src/assets/styles/typography';
@use '/src/assets/styles/general';
@use '/src/assets/styles/forms';

body {
	font-family: 'Inter', sans-serif;
	margin: 0;
	padding: 0;
}
