<div class="filtersWrapper">
	<div class="col">
		<ktbz-dropdown
			label="Rodzaj uwierzytelniania"
			[valueTransform]="authTypeDataTransform"
			[placeholder]="'Wybierz rodzaj'"
			[data]="authTypeData"
			[control]="getControl('authType')"
		></ktbz-dropdown>
	</div>
	<div class="col">
		<ktbz-dropdown
			label="Model"
			[placeholder]="'Wybierz model'"
			[valueTransform]="modelDataTransform"
			[data]="modelNameData"
			[control]="getControl('modelName')"
		></ktbz-dropdown>
	</div>
	<div class="col">
		<ktbz-dropdown
			label="Sortowanie"
			[valueTransform]="sortingDataTransform"
			[data]="sortByData"
			[control]="getControl('sortBy')"
		></ktbz-dropdown>
	</div>
	<div class="col-btn">
		<button class="btn primary" (click)="clear()">Wyczyść</button>
	</div>
</div>
