<div class="row" *ngIf="userData$ | async as data">
	<div class="col">
		<div class="text-line">
			<label>Nazwa użytkownika</label>
			<span class="bold">{{ data.username }}</span>
		</div>

		<div class="text-line">
			<label>E-mail</label>
			<span class="bold">{{ data.email }}</span>
		</div>
	</div>

	<div class="text-line">
		<label>Status uwierzytelniania</label>
		<span class="bold">
			{{ data.faceAuth }}
		</span>
		<div class="buttons-col">
			<button class="btn-sm secondary" *ngIf="data.faceAuth === 'pending'">Zeskanuj mi twarz</button>
			<!-- <button class="btn-sm secondary">Disable face auth</button> -->
		</div>
	</div>

	<div class="text-line" *ngIf="bindClients$ | async as clients">
		<label>Zapisane id przeglądarki</label>
		<div *ngFor="let client of clients" class="bold item-row">
			<span>{{ client }}</span>
			<i class="trash"></i>
		</div>
	</div>
</div>
