<div class="webcamWrapper">
	<div class="webcamWrapper__capture" *ngIf="!image">
		<button type="button" [ngClass]="variant === 'register' ? 'btn' : 'btn-sm'" class="white rounded switchBtn" (click)="switchCamera()">
			<span class="material-symbols-outlined">cameraswitch</span>
		</button>
		<div class="webcamMask" *ngIf="variant === 'register'"></div>
		<div class="webcamItems">
			<div class="buttons">
				<button *ngIf="variant === 'register'" class="btn error-outlined" (click)="close()">Cancel</button>
				<button [ngClass]="variant === 'register' ? 'btn accent' : 'btn primary'" (click)="capture()">Capture photo</button>
			</div>
		</div>
		<webcam
			[width]="videoSize.width"
			[height]="videoSize.height"
			[allowCameraSwitch]="false"
			[switchCamera]="nextWebcam$"
			[trigger]="trigger$"
			(imageCapture)="handleImage($event)"
		></webcam>
	</div>
	<div class="webcamWrapper__preview" *ngIf="image && variant === 'register'">
		<img [src]="image.imageAsDataUrl" />
		<div class="buttons">
			<button class="btn error-outlined" (click)="close()">Cancel</button>
			<button class="btn accent" (click)="takeNew()">Take new photo</button>
			<button class="btn success" (click)="saveImage()">Looks good to me</button>
		</div>
	</div>
	<div class="webcamWrapper__preview--login" *ngIf="image && variant === 'login'">
		<img [src]="image.imageAsDataUrl" />
		<div class="buttons">
			<button class="btn-sm error-outlined" (click)="close()">Cancel</button>
			<button class="btn-sm accent" (click)="takeNew()">Take new</button>
			<button class="btn-sm success" (click)="saveImage()">Login</button>
		</div>
	</div>
</div>
