.webcamWrapper {
	position: relative;
	border-radius: 20px;

	&__capture {
		line-height: 0;
		border-radius: 20px;
		background-color: #313131;

		.captureBtn {
			position: absolute;
			bottom: 36px;
			left: 50%;
			z-index: 100;
			margin: auto;
			transform: translateX(-50%);
		}

		.switchBtn {
			position: absolute;
			top: 18px;
			right: 18px;
			z-index: 100;
		}

		.webcamMask {
			position: absolute;
			mask-image: url('./../../../../../assets/img/mask.svg');
			mask-mode: revert;
			mask-repeat: no-repeat;
			mask-position: center;
			mask-size: cover;
			border-radius: 20px;

			background-color: rgba($color: #000000, $alpha: 0.5);

			width: 100%;
			height: 100%;
			z-index: 99;
		}

		.switchIcon {
			z-index: 101;
			position: absolute;
			top: 18px;
			right: 18px;
			font-size: 36px;
			cursor: pointer;
			user-select: none;
			&:hover {
				color: #313131;
			}
		}
	}

	&__preview {
		border-radius: 20px;
		width: 1000px;

		img {
			width: 100%;
			border-radius: 20px;
		}
	}

	&__preview--login {
		border-radius: 20px;
		img {
			width: 100%;
			border-radius: 20px;
		}
	}

	.buttons {
		position: absolute;
		bottom: 36px;
		width: 100%;
		justify-content: center;
		align-items: center;
		display: flex;
		flex-direction: row;
		gap: 36px;
		z-index: 100;
	}
}
