@use '../colors';
@use '../general/breakpoints';

.bg-black {
	background-color: colors.$neutral-900;
}

@media only screen and (max-width: breakpoints.$bp-sm) {
	.whitespace-28 {
		height: 22px;
	}
}

@media only screen and (min-width: breakpoints.$bp-sm) {
	.whitespace-28 {
		height: 28px;
	}
}

.whitespace-8 {
	height: 8px;
}

.page--full {
	width: 100vw;
	height: 100vh;
}
