<h2 class="bold">Login</h2>
<div class="loginMethodWrapper">
	<div class="selectableButton" [class.active]="isActive(LoginMethods.TRADITIONAL)" (click)="selectMethod(LoginMethods.TRADITIONAL)">
		<span class="bold">Traditional</span>
	</div>
	<div class="selectableButton" [class.active]="isActive(LoginMethods.FACE_ID)" (click)="selectMethod(LoginMethods.FACE_ID)">
		<span class="bold">Face ID</span>
	</div>
	<div class="selectableButton" [class.active]="isActive(LoginMethods.LIVE_FACE_ID)" (click)="selectMethod(LoginMethods.LIVE_FACE_ID)">
		<span class="bold">Live Face ID</span>
	</div>
</div>
<ktbz-alert *ngIf="error$ | async as error" (onDismiss)="clearError()" type="error">
	<span class="bold highlighted--white">{{ error.message }}</span>
</ktbz-alert>
<ktbz-alert *ngIf="successMessage" type="success" [dismissable]="false">
	<span class="bold highlighted--white">{{ successMessage }}</span>
</ktbz-alert>
<form [formGroup]="standardLoginForm" *ngIf="isActive(LoginMethods.TRADITIONAL)">
	<ktbz-control label="Username / E-mail" type="text" [control]="getControl('username')"></ktbz-control>
	<ktbz-control label="password" type="password" [control]="getControl('password')"></ktbz-control>

	<div class="form__buttons">
		<button (click)="close()" class="btn error-outlined">Cancel</button>
		<button [disabled]="!standardLoginForm.valid" (click)="submit()" class="btn primary">Login</button>
	</div>
</form>
<ktbz-webcam *ngIf="isActive(LoginMethods.FACE_ID)" variant="login"></ktbz-webcam>
