$white: #ffffff;
$white-hover: #d3d3d3;

$black: #2c2738;
$pale-gray: #d8d8d8;

$primary: #323232;
$primary-hover: #1e1e1e;

$secondary: #756f86;
$secondary-hover: #5f5a6c;

$accent: #2b78e4;
$accent-hover: #2463ba;

$warning: #f2ac57;
$warning-hover: #c88d45;

$success: #14a38b;
$success-hover: #108470;

$error: #ff7171;
$error-hover: #da6060;

$muted: #7c9cbf;
$tint: #ebf4f8;
$shade: #b2b8be;

$transparent: rgba(
	$color: #ffffff,
	$alpha: 0,
);
