.formControl {
	display: flex;
	// gap: 8px;
	margin: 8px 0;
	position: relative;
}

.vertical {
	flex-direction: column;
	label {
		margin-bottom: 8px;
	}
}

.horizontal {
	flex-direction: row;
	align-items: center;
	label {
		margin-left: 8px;
	}
}
input {
}

span {
	cursor: pointer;
	right: 18px;
	bottom: 9%;
	position: absolute;
	transition: 0.2s ease-in-out;
	user-select: none;

	&:hover {
		color: #515151;
	}
}
