<div class="form__container">
	<ktbz-dropdown [control]="modelControl" [label]="'Select model'" [data]="['dlib']"></ktbz-dropdown>
	<div class="dummyWebcam">
		<ktbz-face-scanner
			[type]="'small'"
			[hasExternalTrigger]="true"
			[externalTrigger]="trigger"
			(onPhotoSubmit)="submit($event)"
		></ktbz-face-scanner>
	</div>
	<div class="form__buttons-row">
		<button class="btn secondary" (click)="switchToRegisterForm()">Sign up</button>
		<button class="btn primary" [disabled]="!modelControl.valid" (click)="initLoginAction()">Sign in</button>
	</div>
</div>
